.h1 {
    font-size: 200%;
    font-weight: 800;
}

h2 {
    font-weight: 700;
}

.custom-card {
    flex-direction: row;
    border: 0;
    margin-left: 450px;
}

.custom-h2 {
    margin-left: 260px;
}
