.h1 {
    font-size: 200%;
    font-weight: 800;
}

h2 {
    font-weight: 700;
}

.form-border {
    border-bottom: 5px solid grey;
    border-radius: 5px;
}

.city-history-list {
    margin-left: 5px;
}